<div>
  <h1>Tooltip Demo</h1>
<div>
    <br>
    <br>
    <div>
      <app-tooltip content="I am Button A" *ngIf="displayTooltip1"></app-tooltip>
      <button id='buttonA' class="btn btn-primary" (click)="onClick($event)" role="button" [focusMe]="true">Button A</button>
    </div>
    <br>
    <br>
    <br>
    <br>    
    <div>
      <app-tooltip content="I am Button B" *ngIf="displayTooltip2"></app-tooltip>
      <button id='buttonB' class="btn btn-primary" (click)="onClick($event)" role="button">Button B</button>
    </div>
</div>
</div>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<h2>want to make it scrollable</h2>
