<div>
  <h1>Tooltip Demo</h1>
<div>
    <br>
    <br>
    <div>
      <app-tooltip content="I am button 1" *ngIf="displayTooltip1"></app-tooltip>
      <button id='button1' class="btn btn-primary" (click)="onClick($event)" role="button" [focusMe]="true">Button 1</button>
    </div>
    <br>
    <br>
    <br>
    <br>    
    <div>
      <app-tooltip content="I am button 2" *ngIf="displayTooltip2"></app-tooltip>
      <button id='button2' class="btn btn-primary" (click)="onClick($event)" role="button">Button 2</button>
    </div>
</div>
</div>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<h2>want to make it scrollable</h2>
